 
 @import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");


 /* navbar */

#navbarr{
    color: lightcoral;
    position: sticky;
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(250, 178, 178, 0.45),
        rgba(244, 217, 70, 0.45)
      ),      /* bottom, image */ 
      url(../images/clouds3.png);
      background-size: cover;
      background-attachment: fixed;
      overflow-x: hidden;
}

  #navbarr h1 {
    font-family: "Satisfy", cursive;
    font-size: 4em;
  }

 /* landing */

 #landing h1 {
    font-family: "Satisfy", cursive;
    font-size: 4em;
  }

#landing {
    color: lightcoral;
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(250, 178, 178, 0.45),
        rgba(244, 217, 70, 0.45)
      ),
      /* bottom, image */ 
    url(../images/clouds3.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
  }

  /* about */

  #about {
    color: lightcoral;
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(250, 178, 178, 0.45),
        rgba(244, 217, 70, 0.45)
      ),;
      
      overflow-x: hidden;
  }
  #about h1 {
    font-family: "Satisfy", cursive;
    font-size: 4em;
    color: lightcoral;
  }

  #about p {
    font-family: "Satisfy", cursive;
    font-size: 1.5em;
      color: lightcoral;
  }

  .imgme{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: center;
    overflow-x: hidden;
  }

  /* work and education */

  #workandeducation {
    background:
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(250, 178, 178, 0.45),
        rgba(244, 217, 70, 0.45)
      ),;
    overflow-x: hidden;
  }

  #workandeducation h1 {
    font-family: "Satisfy", cursive;
    font-size: 4em;
    color: lightcoral;
  }

  #workandeducation p {
    font-family: "Satisfy", cursive;
    font-size: 1.5em;
    color: lightcoral;
}

  #school{
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow-x: hidden;
  }

  #oldagehome{
    height: 50%;
    width: 50%;
    object-fit: cover;
    overflow-x: hidden;
  }

  /* skills */

  #skills {
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(250, 178, 178, 0.45),
        rgba(244, 217, 70, 0.45)
      ),;
      overflow-x: hidden;
  }

  #skills h1 {
    font-family: "Satisfy", cursive;
    font-size: 4em;
    color: lightcoral;
  }

  #skills h2 {
    font-family: "Satisfy", cursive;
    font-size: 2em;
    color: lightcoral;
  }

  .progress-bar {
      background-color: lightcoral;
  }

  /* projects */

  #projects {
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(250, 178, 178, 0.45),
        rgba(244, 217, 70, 0.45)
      ),;
      overflow-x: hidden;
  }

  #projects h1 {
    font-family: "Satisfy", cursive;
    font-size: 4em;
    color: lightcoral;
  }

  /* testimonials */

  #testimonials {
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(250, 178, 178, 0.45),
        rgba(244, 217, 70, 0.45)
      ),;
    overflow-x: hidden;
  }

  #testimonials h1 {
    font-family: "Satisfy", cursive;
    font-size: 4em;
    color: lightcoral;
  }

  /* contact */

  #contact {
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(250, 178, 178, 0.45),
        rgba(244, 217, 70, 0.45)
      ),;
    overflow-x: hidden;
  }

  #contact h1 {
    font-family: "Satisfy", cursive;
    font-size: 4em;
    color: lightcoral;
  }

  /* footer */

  #footer{
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(250, 178, 178, 0.45),
        rgba(244, 217, 70, 0.45)
      ),;
    overflow-x: hidden;
}

  #footer h1 {
    font-family: "Satisfy", cursive;
    font-size: 4em;
    color: lightcoral;
  }